<nav class="navbar navbar-light bg-light navbar-expand-md">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
        &#x2630;
    </button>
    <a class="navbar-brand" href="{{ path('home') }}">Browser Adventure</a>

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav ml-auto">
        </ul>
    </div>
</nav>
