{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-6">

            <img class="img-fluid mt-2" src="{{ asset('images/village.png') }}">

            <p class="text-center title">Browser Adventure</p>

            <div class="btn-group d-flex" role="group">
                {#<a href="{{ path('register') }}" class="btn btn-success w-100">Register</a>#}
                {#<a href="{{ path('login') }}" class="btn btn-primary w-100">Login</a>#}
            </div>

        </div>
    </div>
{% endblock %}
